#createHeader {
  text-align: center;
  background-color: #fde1c7;
}

#createForm {
  max-width: 600px;
  height: 500px;
  text-align: center;
}

#createBtn {
  display: none;
}

#createFormCard {
  background-color: whitesmoke;
}

div .loginCreateAcc {
  margin-top: 0.4em;
}
