#createHeader {
  text-align: center;
  background-color: #fde1c7;
}

#createForm {
  max-width: 600px;
  height: 500px;
  text-align: center;
}

#createFormCard {
  height: 400px;
  background-color: whitesmoke;
}

input {
  outline: none;
  border: none;
}

input:focus {
  border-color: transparent !important;
}

#createBtn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #d3d3d3;
  min-width: 100px;
}

#createBtn:hover {
  cursor: pointer;
  background-color: #ffe39f;
}

#username,
#password {
  margin: 15px auto;
  max-width: 300px;
  display: block;
  text-align: center;
  background-color: rgb(216, 213, 213);
  font-weight: bold;
}

#firstName,
#lastName {
  display: inline-block;
  max-width: 200px;
  text-align: center;
  background-color: rgb(216, 213, 213);
  font-weight: bold;
}

#firstName {
  margin: 15px 15px 15px auto;
}
#lastName {
  margin: 15px auto 15px 15px;
}
@media only screen and (max-width: 550px) {
  #firstName,
  #lastName {
    margin: 5px auto;
  }
  #username,
  #password {
    margin: 5px auto;
  }
  #createHeader {
    font-size: 30px;
  }
}

#haveAcc {
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  border: none;
}
#createFormBody {
  padding: 0;
}
