#createHeader {
  text-align: center;
  background-color: #fde1c7;
}

#createForm {
  max-width: 600px;
  height: 500px;
  text-align: center;
}

#createBtn {
  display: none;
}

#createFormCard {
  background-color: whitesmoke;
}

@media only screen and (max-width: 550px) {
  #createHeader {
    font-size: 30px;
  }
}

.loginCreateAcc {
  font-size: 14px;
  text-align: center;
  background-color: transparent;
  border: none;
}
