.col-md-4 {
  height: auto;
}
.popUpDialog {
  text-align: center;
  background-color: #fde1c7;
}

.imgText {
  color: orangered;
  font-size: 25px;
  text-align: center;
}

.imgText:hover {
  text-decoration: none;
  color: orangered;
}

#title {
  text-align: center;
  font-size: 3em;
}

#pageTitle {
  margin: 1em;
  background-color: #fde1c7;
}

#imgBackBtn {
  background-color: #ea6459;
  margin-bottom: 5%;
}

#imgBackBtn:hover {
  cursor: pointer;
  background-color: #ea655993;
}

.uploadBtn {
  margin: 1em;
  display: block;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #imageArea {
    text-align: center;
    margin: 10px auto;
  }
}
