#loginHeader {
  text-align: center;
  background-color: #fde1c7;
}

#loginForm {
  max-width: 600px;
  height: 500px;
  text-align: center;
}
#loginFormCard {
  background-color: whitesmoke;
}

#loginBtn {
  display: none;
}
@media only screen and (max-width: 550px) {
  #loginHeader {
    font-size: 30px;
  }
}

button .btnLink {
  text-decoration: none;
  color: inherit;
}
