#homeBtn {
  background-color: orangered;
  display: block;
  width: 100px;
  height: 50px;
  margin: 10px;
}

#uploadHeader {
  text-align: center;
  background-color: #fde1c7;
}

#uploadForm {
  max-width: 600px;
  height: 500px;
  text-align: center;
}

#uploadFormCard {
  background-color: whitesmoke;
}

input {
  outline: none;
  border: none;
}

input:focus {
  border-color: transparent !important;
}

#uploadBtn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #d3d3d3;
  min-width: 100px;
}

#uploadBtn:hover {
  cursor: pointer;
  background-color: #ffe39f;
}

#photoName,
#album,
#description,
#camera,
#fstop,
#sspeed,
#iso,
#focal_length,
#file {
  margin: 15px auto;
  max-width: 300px;
  display: block;
  text-align: center;
  background-color: rgb(216, 213, 213);
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  #photoName,
  #album,
  #description,
  #camera,
  #fstop,
  #sspeed,
  #iso,
  #focal_length {
    margin: 10px auto;
  }
  #uploadHeader {
    font-size: 30px;
  }
}
