.fileButton {
  margin: 1em;
}

#fileUpload:hover {
  cursor: pointer;
}

#uploadHeader {
  text-align: center;
  background-color: #fde1c7;
}

#uploadForm {
  max-width: 600px;
  height: 500px;
  text-align: center;
}

#uploadFormCard {
  background-color: whitesmoke;
  margin-top: 1em;
}

#uploadBtn {
  display: none;
}

#homeBtnDiv {
  display: block;
  text-align: center;
  margin: 1em;
}

@media only screen and (max-width: 550px) {
  #uploadHeader {
    font-size: 30px;
  }
}

div .btnLink {
  text-decoration: none;
  color: inherit;
}
