.fileButton {
  margin: 1em;
}

#fileUpload:hover {
  cursor: pointer;
}

#homeBtn {
  background-color: #a15fa9;
  width: 100px;
  height: 50px;
  margin: 10px;
}

#homeBtn:hover {
  cursor: pointer;
  background-color: #a25fa986;
}

#uploadHeader {
  text-align: center;
  background-color: #fde1c7;
}

#uploadForm {
  max-width: 600px;
  height: 500px;
  text-align: center;
}

#uploadFormCard {
  background-color: whitesmoke;
}

#uploadBtn {
  display: none;
}

#logoutBtnDiv {
  display: block;
  text-align: left;
  margin: 10px;
}
#homeBtnDiv {
  display: block;
  text-align: center;
  margin: 10px;
}

@media only screen and (max-width: 550px) {
  #uploadHeader {
    font-size: 30px;
  }
}
